{% extends "volunteer/base.html" %}

{% block title %}活动列表{% endblock %}

{% block body %}

    <h1>活动列表</h1>
    <div>
        <ul>
        {% for act in activities %}
            <li>{{ act.activity_name }}</li>
            <li>{{ act.created_at }}</li>
            <li>{{ act.group_leader }}</li>
            <li>{{ act.course }}</li>
            <li>{{ act.class_time }}</li>
            <li>{{ act.activity_type }}</li>
            <li>{{ act.status }}</li>
            <li>{% if act.status == 1 and volunteer_status >= '30' %}
                <div>
                    <a href="/activity/apply/first/{{ user.id }}/{{ act.id }}/">第一志愿申请</a>
                    <a href="/activity/cancel/first/{{ user.id }}/{{ act.id }}/">第一志愿撤销</a>
                    <a href="/activity/apply/second/{{ user.id }}/{{ act.id }}/">第二志愿申请</a>
                    <a href="/activity/cancel/first/{{ user.id }}/{{ act.id }}/">第二志愿撤销</a>
                </div>
            {% endif %}</li>
        {% endfor %}
        </ul>
    </div>


{% endblock %}
