<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}苗苗阅读{% endblock%}</title>

    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/base.css"/>
    <script language="JavaScript" src="/static/js/jquery.js"> </script>
    <script language="JavaScript" src="/static/js/base.js"> </script>
    {% block link %}{% endblock %}
</head>
<body>
    <div id="header" >
        <div id="branding">
            <h1>
                苗苗阅读
            </h1>
        </div>
        <div id="user-tools">
            <strong>
                 {{ user.username }}
            </strong>
            <a href="/account/password_change/">修改密码</a>
            <a href="/account/logout/">注销</a>
        </div>
    </div>
    {% block body %} body {% endblock %}
</body>
</html>
