{% extends "volunteer/base.html" %}

{% block title %}登录{% endblock %}

{% block link %}{% endblock %}

{% block body %}
    {{ error_msg }}
    <form id="login_box" action="/account/login/" method="post">
    {% csrf_token %}
        <label for="user_name" >用户名称</label>
        <input type="text" name="username" id="user_name"/><br>
        <label for="password" >用户密码</label>
        <input type="password" name="password" id="password"/><br>
        <input class="btn" type="submit" value="登录"/>
        <input class="btn" type="button" onclick="go_reg()" value="注册" />
    </form>

{% endblock %}
