{% extends "base.html" %}

{% block title %}注册{% endblock %}

{% block link %}{% endblock %}

{% block body %}
<h2>用户注册</h2>
    <div id="content-main">
        {% if message %}
        <ul class="messagelist">
          <li class="success">用户 "{{ username}}" 注册成功。</li>
        </ul>
        {% endif %}
        <form method="post" action="/account/register/">
            <fieldset class="module aligned wide">
            {% csrf_token %}
            {{ user_form.as_p }}
            {% if user_form.errors %}
                <ol>
                    {% for error in user_form.subject.errors %}
                    <li><strong>{{ error|escape }}</strong></li>
                    {% endfor %}
                </ol>
            {% endif %}
                <div class="submit-row">
                    <input type="submit" value="注册"/>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}
