{% extends "volunteer/base.html" %}

{% block link %}{% endblock %}

{% block body %}
    <h1>{{ username }}苗苗欢迎您的加入</h1>
    <div id="content-main">
        {% if message %}
            <ul class="messagelist">
                <li class="success">用户 "{{ username }}" 注册成功。</li>
            </ul>
        {% endif %}
        {#        <form method="post">#}
        {##}
        {#            <p>个人信息:</p>#}
        {#            <fieldset class="module aligned wide">#}
        {#                {% csrf_token %}#}
        {#                {% for key, value in user_info.items %}#}
        {#                    {% if key not in "_state, password, is_superuser " %}#}
        {#                        <p>{{ key }} : {{ value }}</p>#}
        {#                    {% endif %}#}
        {#                {% endfor %}#}
        {##}
        {#                <div class="submit-row">#}
        {#                    <input type="submit" value="信息修改"/>#}
        {#                </div>#}
        {#            </fieldset>#}
        {#        </form>#}
        {% if volunteer_status == 0 %}
            <a href="/volunteer/status/{{ user.id }}/">志愿者状态查询 </a>
        {% elif volunteer_status == 1 %}
            <ul>
                <li>
                    <a href="/volunteer/apply/{{ user.id }}/">志愿者信息修改</a>
                </li>
                <li>
                    <a href="/volunteer/history/{{ user.id }}/">个人历史活动回顾 </a>
                </li>
                <li>
                    <a href="/activity/list/">查看活动 </a>
                </li>
                <li>
                    <a href="/volunteer/homework/{{ user.id }}/">我的作业 </a>
                </li>
                <li>
                    <a href="/volunteer/ask_for_leave/{{ user.id }}/">请假 </a>
                </li>
            </ul>
        {% else %}
            <a href="/volunteer/apply/{{ user.id }}/">志愿者申请 </a>
        {% endif %}
    </div>

{% endblock %}
