@charset "utf-8";
/* CSS Document */
body{
	margin:0px;
	background-image:;
	background-color:#fff;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:bottom;
	font-family: "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
}
#wrapper {
	width:80%;
	margin:auto;
	background-color:;}

/* main components */
#head_bar{
	width:100%;
	height:100px;
	margin-top:10px;
	margin-bottom:10px;
	background-color:#FFF;
	color:#FFF;
}

.clear{
	clear:both;
}
#foot{
	text-align:center;
	color:#999;
	font-size:small;
}

/* common */
a{
	text-decoration: none;
}

/* components in head_bar */
#logo{
	margin-top:-20px;
	margin-left:50px;
	height:120px;
}
#user-tools{
	float:right;
	margin-top:-60px;
	margin-bottom:0px;
	margin-right:20px;
	color:#8a5;
}
#user-tools a{
	color:#8a5;
}



