@charset "utf-8";
/* CSS Document */
body{
}
#wrapper {
}

/* main components */
#head_bar{
}
#intro_lst{
	float:left;
	width:30%;
	margin-top:10px;
	margin-bottom:10px;
	background-color:;
	border-spacing:0px;}
#content{
	float:left;
	width:70%;
	margin-top:10px;
	margin-bottom:10px;
	height:360px;
	background-color:#efe;}

.clear{
	clear:both;
}
#foot{
	text-align:center;
	color:#FFF;
}

/* components in head_bar */
#logo{
}

/* components in intro_lst */
.entries{
	height:50px;
	background-color:#df0;
	font-size:240%;
	text-align:center;
	border-bottom: 1px solid #cf6;
	border-top: 1px solid #cf6;
}
.dead_btn{
	width:340px;
	height:50px;
	background-color:#efb;
	border-top: 10px solid #8a5;
	border-bottom: 10px solid #8a5;
	text-align:center;
	font-size:140%;
	color:#777;
}

/* components in news_win */
.news_item{
	width:100%;
	height:100%;
}
#slider lu li {
/*  padding-left:6px;
 float:left;
 text-indent:-9999px;
 width:16px;
 height:16px; */
 overflow:hidden;
 /* background-image:url(../images/number1.png);
 background-repeat:no-repeat; */
}




