@charset "utf-8";
/* CSS Document */
body{
}
#wrapper {
}

/* main components */
#head_bar{
}
#intro_lst{
	float:left;
	width:25%;
	margin-top:10px;
	margin-bottom:10px;
	background-color:;
	border-spacing:0px;}
#content{
	float:left;
	width:70%;
	margin-top:0px;
	margin-bottom:10px;
	margin-left:2%;
	background-color:;
}

/* components in head_bar */
#logo{
}

/* components in intro_lst */
.entries{
	height:40px;
	background-color:#9c3;
	font-size:120%;
	text-align:center;
	border-bottom: 1px solid #efc;
	border-top: 1px solid #efc;
}
.dead_entries{
	width:340px;
	height:40px;
	background-color:#efc;
	border-top: 10px solid #efc;
	border-bottom: 10px solid #efc;
	text-align:center;
	font-size:120%;
	color:#ccc;
}

/* components in content */
p{
	text-indent:2em;
}
#content h1{
	margin-top:-5px;
	text-align:center;
}


