@charset "utf-8";
/* CSS Document */
body{
	margin:0px;
	background-image:;
	background-color:#fff;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:bottom;
	font-family: "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
}
#wrapper {
	width:80%;
	margin:auto;
	background-color:;
}

/* main components */
#head_bar{
	width:100%;
	height:160px;
	margin-top:10px;
	margin-bottom:10px;
	background-color:;
	background-image:;
	background-repeat:repeat-x;
	backgrount-position:bottom;
	color:#FFF;
}
#guide{
	float:right;
	width:39%;
	margin-top:10px;
	margin-bottom:10px;
	height:360px;
	background-color:;
	border-spacing:0px;}
#news_win{
	float:left;
	width:59%;
	margin-top:10px;
	margin-bottom:10px;
	height:360px;
	background-color:#999;
}
#news_lst{
	float:left;
	width:100%;
	background-color:;
}
.clear{
	clear:both;
}
#foot{
	text-align:center;
	color:#FFF;
}

/* common use */
a{
	text-decoration: none;
}

/* components in head_bar */
#logo{
	margin-left:50px;
	height:160px;
}
#user-tools{
	float:right;
	margin-top:-50px;
	margin-right:20px;
}
#user-tools a{
	color:#8a5;
}

/* components in guide */
.big_btn{
	height:150px;
	background-color:#9c3;
	font-size:240%;
	text-align:center;
	border-bottom: 10px solid #fff;
	border-top: 10px solid #fff;
	color:#fff;
}
.inner_btn{
	width:340px;
	height:50px;
	background-color:#9c3;
	sborder-left: 20px solid #efc;
	border-bottom: 1px solid #efc;
	border-top: 1px solid #efc;
	text-align:center;
	font-size:140%;
}
.inner_btn a{
	color:#fff;
}
.dead_btn{
	width:340px;
	height:50px;
	background-color:#efc;
	border-top: 10px solid #efc;
	border-bottom: 10px solid #efc;
	text-align:center;
	font-size:140%;
	color:#ccc;
}

/* components in news_win */
.show{
	width:100%;
	height:100%;
	visibility:visible;
}
.hide{
	width:0;
	height:0;
	visibility:hidden;
}
.highlight{
	color:#fff;
	background-color:#08f;
	border:1px solid #fff;
}
.waiting{
	color:#888;
	background-color:#aaccff;
	border:1px solid #fff;
}
#slider ul li {
	display:inline;
	padding-left:10px;
	padding-right:10px;
}
#slider{
	width:100%;
	text-align:center;
	margin-top:-50px;
}

/* components in news_lst */
#news_lst div ul{
}
#news_lst div ul li{
	height:30px;
}
.news_lst{
	width:48%;
	float:left;
	margin:1%;
}
.news_lst a{
	float:right;
	margin-top:-10px;
	color:#955;
	font-size:70%;
}
h3{
	margin-left:10px;
	color:#800;
	margin-bottom:0px;
}
hr{
	color:#800;
	background-color:#800;
	border:1px solid #800;
}


