@charset "utf-8";
/* CSS Document */
body{
	margin:0px;
	background-image:;
	background-color:#8a5;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:bottom;}
#wrapper {
	width:80%;
	margin:auto;
	background-color:;}

/* main components */
#head_bar{
	width:100%;
	height:160px;
	margin-top:10px;
	margin-bottom:10px;
	background-color:#FFF;
	color:#FFF;}
#guide{
	float:right;
	width:39%;
	margin-top:10px;
	margin-bottom:10px;
	height:360px;
	background-color:;
	border-spacing:0px;}
#news_win{
	float:left;
	width:59%;
	margin-top:10px;
	margin-bottom:10px;
	height:360px;
	background-color:#efe;}
#news_lst{
	float:left;
	width:100%;
	height:300px;
	background-color:#faffda;}
.clear{
	clear:both;
}
#foot{
	text-align:center;
	color:#FFF;
}

/* components in head_bar */
#logo{
	margin-left:50px;
	height:160px;
}

/* components in guide */
.big_btn{
	height:150px;
	background-color:#df0;
	font-size:240%;
	text-align:center;
	border-bottom: 10px solid #8a5;
	border-top: 10px solid #8a5;
}
.inner_btn{
	width:340px;
	height:50px;
	background-color:#df0;
	sborder-left: 20px solid #8a5;
	border-bottom: 1px solid #efb;
	border-top: 1px solid #efb;
	text-align:center;
	font-size:140%;
}
.dead_btn{
	width:340px;
	height:50px;
	background-color:#efb;
	border-top: 10px solid #8a5;
	border-bottom: 10px solid #8a5;
	text-align:center;
	font-size:140%;
	color:#777;
}

/* components in news_win */
.show{
	width:100%;
	height:100%;
	visibility:visible;
}
.hide{
	width:0;
	height:0;
	visibility:hidden;
}
.highlight{
	color:#fff;
	background-color:#08f;
	border:1px solid #fff;
}
.waiting{
	color:#888;
	background-color:#aaccff;
	border:1px solid #fff;
}
#slider ul li {
	display:inline;
	padding-left:10px;
	padding-right:10px;
}
#slider{
	width:100%;
	text-align:center;
	margin-top:-50px;
}




