{% extends "base.html" %}

{% block title %}苗苗阅读{% endblock %}

{% block link %}{% endblock %}

{% block body %}
<div id="wrapper">
	<div id="head_bar">
		<h1><img id="logo" alt="苗苗阅读" src="imgs/sources/logo.jpeg" /></h1>
	</div>
		
	<table id="guide" onmouseleave="outerGuide()">
		<tr><td class="big_btn"><a id="about_btn" onmouseover="innerGuide(this)">关于苗苗阅读</a></td></tr>
		<tr><td class="big_btn"><a id="join_btn" onmouseover="innerGuide(this)">加入我们</a></td></tr>
	</table>
		
	<div id="news_win" class="home-slider">
		<a><img class="news_item" src="imgs/b1.jpg" alt="news 1" /></a><br />
		<a><img class="news_item" src="imgs/slides/02.jpg" alt="news 2" /></a><br />
		<a><img class="news_item" src="imgs/slides/03.jpg" alt="news 3" /></a><br />
		<div id="slider">
			<ul>
				<li id="news 1"></li>
				<li id="news 2"></li>
				<li id="news 3"></li>
			</ul>
		</div>
	</div>
		
	<div id="news_lst">
		<div id="actv_lst">
			<h3>活动记录——导读课</h3>
			<ul><li></li></ul>
		</div>
		<div id="vlnv_lst">
			<h3>志愿者心声</h3>
			<ul><li></li></ul>
		</div>
	</div>
		
	<div class="clear"></div>
		<div id="foot">
			<p>Copyright &copy; 2015 苗苗阅读 - All Rights Reserved</p>
		</div>
    </div>
{% endblock %}
